body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #1F253D;
}

.app {
  width: 100%;
  padding-right: 0px;
  padding-left: 0px;
  margin-right: auto;
  margin-left: auto;
  max-width: 540px;
  
}

main {
  display: block;
  box-sizing: border-box;
  width: 96%;
  padding-top: 5%;
  margin-left: 2%;
  margin-right: 2%;
}

.info{
  box-sizing: border-box;
  margin-top: 5%;
  display: flex;
}

.game-over {
  background: #d1170a;
  width:auto;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-top: 10px;
  text-align: center;
  font-size: 1.4em;
  color: white;
  text-shadow: black 3px 3px;
  font-weight: 400;
  border-radius: 10px
}

.game-over-button{
  margin-left: 25px;
  font-size: 1.2em;
  display: inline-block;
  color: #d1170a;
  text-shadow: black 1px 1px;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  border: 1px solid transparent;
  padding: .150rem;
  padding-left: .25rem;
  padding-right: .25rem;
  line-height: 1.5;
  border-radius: 25px;
  background: white;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.5),
  10px 10px 15px rgba(0,0,0,0.5),
  -1px -1px 30px rgba(0,0,0,0.2);
}

.row {
  width: 100%;
  margin: 0px;
  position: relative; 
  display: flex;
}

.row:before{
	content: "";
	display: block;
	padding-top: 15%; 	/* initial ratio of 1:1*/
}

.cell {
  display: inline-block;
  padding: 0px;
  width: 15%;
  position: relative;
  border: 0px;
}



.cell:before{
	content: "";
	display: block;
	padding-top: 0%; 	
}

.dragging {
  z-index: 1;
}

.item-value {
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  display: table-cell;
  vertical-align: middle;
}

.item {
  padding:0%;
  height: 100%;
  display: table;
  box-sizing: border-box;
  width: 100%;
  text-shadow: black 1px 1px;
  color: white;

  border: 1px solid black;
  font-size: 1.6em;
  text-align: center;
  
  border-radius: 5px;
  /* line-height: 60px; */
  border-radius: 10px;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.5),
              10px 10px 15px rgba(0,0,0,0.5),
              -1px -1px 30px rgba(0,0,0,0.2);
  position: relative;
}

.item:hover{
  cursor: -webkit-grab;
}

.item:active{
  cursor: -webkit-grabbing;
}

.item-1{
  background-color: #9038FF
}

.item-2{
  background-color: #15E8A0
}

.item-3{
  background-color: #415BE8
}

.item-4{
  background-color: #FF4926
}

.item-5{
  background-color: #24C5FF
}

.item-6{
  background-color: #17FF1F
}

.item-7{
  background-color: #FFC632
}

.item-8{
  background-color: #E81781
}

.item-9{
  background-color: #B614FF
}

.item-10{
  background-color: #E87B1A
}



.badge{
  position: relative;
  display: inline-block;
  min-width: 10px;
  padding: 3px 7px;
  font-size: 1em;
  font-weight: 700;
  line-height: 1;
  color: #11a8ab;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  background-color: white;
  border-radius: 10px;
  z-index: 1;
  margin-left: 5px; 

}

.score{
  position: relative;
  font-size: 1.4em;
  display: inline-block;
  color: white;
  text-shadow: black 1px 1px;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  border: 1px solid transparent;
  padding: .375rem;
  padding-left: .25rem;
  padding-right: 0;
  line-height: 1.5;
  border-radius: .25rem;
  background: #11a8ab;
  width: 30%;
  margin-right: 5%;
  

}

.high-score{
  margin-left: auto;
  margin-right: auto;


}

.login {
  margin-left: 5%;
  position: relative;
  font-size: 1.4em;
  display: inline-block;
  color: white;
  text-shadow: black 1px 1px;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  line-height: 1.5;
  border-radius: .25rem;
  background: #11a8ab;
  width: 30%;
}

.login:hover, .game-over-button:hover {
  cursor: pointer;
}

.login-fields {
  box-sizing: border-box;
  text-align: center;
  font-size: 1.4em;
  color: white;
  text-shadow: black 1px 1px;
  font-weight: 400;
  margin-top: 80px;
}



.input-field {
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-top: 15px;
  margin-bottom: 20px;
  padding: 10px;
  
}

.submit-button {
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 5px;
  font-size: 1em;
  width: auto;
  min-width: 110px;
  
}

.error-message {
  display: block;
  overflow-wrap: normal;
  padding: 15px;
  border: 1px solid transparent;
  border-radius: 6px;
  box-sizing: border-box;
  text-align: center;
  font-size: 1.4em;
  text-shadow: black 1px 1px;
  font-weight: 400;
  margin-top: 40px;
  margin-right: auto;
  margin-left: auto;
  background: #d1170a;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.5),
  10px 10px 15px rgba(0,0,0,0.5),
  -1px -1px 30px rgba(0,0,0,0.2);

}

.navbar {
  min-height: 45px;
  width: 100%;
  background: #11a8ab;
  border: 2px solid black;
}

.navbar > button {
  float: right;
  background: #11a8ab;
  border: 0px;
}

.navbar button:hover {
  cursor: pointer;
}

.navbar div {
  width: 35px;
  height: 5px;
  background-color: black;
  margin: 6px 0;

}
.navbar ul {
  display: block;
  padding: 0;
  margin: 0;
  list-style-type: none;
  text-align: right;
  font-size: 30px;
  color: white;
  text-shadow: black 3px 3px;
  font-weight: 400;
}

.navbar li  {

  /* position: relative; */
  width: 100%;
  min-height: 45px;
  width: 100%;
  background: #11a8ab;


}

.nav-link{
  border: none;
  background: #11a8ab;
  text-align: right;
  font-size: 30px;
  color: white;
  text-shadow: black 3px 3px;
  font-weight: 400;
}

.nav-link:hover {
  cursor: pointer;
}

.about-text li{
  text-align: center;
  font-size: .6em;
  text-shadow: black 1px 1px;
  padding:1%;
  min-height: 20px;
}

.hidden {
  display: none;
}

@media only screen and (min-width : 425px) {

  .navbar > button{
    display: none;
  }

  .navbar > .menu {
    display: flex;
    justify-content: space-between;
    margin: 0;
    margin-right: 3%;
    margin-left: 3%;
    list-style-type: none;
    padding: 0;
    font-size: 30px;
    color: white;
    text-shadow: black 3px 3px;
    font-weight: 400;
    line-height: 1.5;
  }


  .navbar .menu {
    display: flex;
    width: auto;

  }

  .about-text{
    display: inline;
  }

  .about-text .about{
    
    text-align: right;
    font-size: .6em;
    text-shadow: black 1px 1px;
    /* padding:1%; */
    min-height: 20px;
    width: 100%;
    margin: 0%;
    padding: 0%;
  }

  .navbar ul{
    padding-left: 1%;
    padding-right: 1%;
  }

  .about-text li{
    padding: 0px;
  }

  .contact li{
    text-align:left;
    display: block;
  }

  .hidden {
    display: none;
  }
  .hidden li{
    display: none;
  }
}